[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pyttsx3 = "==2.71"
python-dotenv = "*"
pyaudio = "*"
geocoder = "*"
pyfiglet = "*"

[dev-packages]

[requires]
python_version = "3.8"
